<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

    <form action="/mailSent" method="post">
        <label>Nome Completo</label>
        <input type="text" name="nome" value="">
        <br>
        <label>Email</label>
        <input type="text" name="email" value="" id="email">
        <br>
        <label>Você possui plantas no interior de sua casa ou trabalho?</label>        
        <select name="quantasPlantas">
            <option disabled selected value> -- selecone uma opção -- </option>
            <option value="muitas">Tenho muitas!!</option>
            <option value="algumas">Tenho algumas</option>
            <option value="poucas">Tenho uma ou duas</option>
            <option value="nenhuma">Não tenho nenhuma</option>
        </select>
        <br>
        <input type="submit" name="submit" value="Enviar">
    </form>

</body>
</html>