<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

    <form action="/mailSent" method="post">
        <label>Nome Completo</label>
        <input type="text" name="nome" value="">
        <br>
        <label>Email</label>
        <input type="text" name="email" value="">
        <br>
        <label>Você possui plantas no interior de sua casa ou trabalho?</label>        
        <select name="quantasPlantas">
            <option disabled selected value> -- selecone uma opção -- </option>
            <option value="Tenho muitas plantas">Tenho muitas!!</option>
            <option value="Tenho algumas plantas">Tenho algumas</option>
            <option value="Tenho poucas plantas">Tenho uma ou duas</option>
            <option value="Não tenho nenhuma planta">Não tenho nenhuma</option>
        </select>
        <br>
        <input type="submit" name="submit" value="Enviar">
    </form>

</body>
</html>